*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
   
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0px 5px 10px rgba(74, 24, 162, 0.9);
}

.resultimgages{
    display: flex;
    column-gap: 7rem;
    position: relative;
}
.resultimgages img{
    width: 100px;
}
.userresult{
    transform: rotate(90deg);
}
.comresult{
    transform: rotate(-90deg) rotateY(180deg) ;
}
.result{
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin-top: 1.5rem;
}
.option img{
    width: 50px;
}
.optionimages{

    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-between;
    
}
.option img{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}
.option img:hover{
    opacity: 1;
    cursor: pointer;
}
.option p{
    color: #7d2ae8;
    font-size: 1.2rem;
    margin-top: 1rem;

}
.you{
    color: #7d2ae8;
    position: absolute;
    left: -40px;
    bottom: 80px;
    transform: rotate(-90deg);
}
.com{
    color: #7d2ae8;
    position: absolute;
    left: -60px;
    bottom: 80px;
    transform: rotate(-90deg) rotateY(180deg) ;
}